In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})

df

  key1 key2     data1     data2
0    a  one -0.611546 -0.852513
1    a  two  0.271898  0.344840
2    b  one  0.712139 -0.646004
3    b  two -0.261174 -1.139908
4    a  one -0.668410  0.662635

In [2]:
gb = df.groupby(by='key1')
gb.sum()

           key2     data1     data2
key1
a     onetwoone -1.008057  0.154962
b        onetwo  0.450965 -1.785911

In [3]:
gb1 = df.groupby(by='key1')[['data1','data2']]
gb1.sum()

         data1     data2
key1
a    -1.008057  0.154962
b     0.450965 -1.785911