In [4]:
import pandas as pd
df = pd.read_csv('world.csv')
df1 = df.reindex(columns=['洲名','國家','日期','總確診數','新增確診數','總人口數'])
df1

        洲名   國家          日期    總確診數  新增確診數      總人口數
0       亞洲  阿富汗  2020-02-24       5      5  39835428
1       亞洲  阿富汗  2020-02-25       5      0  39835428
2       亞洲  阿富汗  2020-02-26       5      0  39835428
3       亞洲  阿富汗  2020-02-27       5      0  39835428
4       亞洲  阿富汗  2020-02-28       5      0  39835428
...     ..  ...         ...     ...    ...       ...
187880  非洲  辛巴威  2022-07-02  255586      0  15092171
187881  非洲  辛巴威  2022-07-03  255586      0  15092171
187882  非洲  辛巴威  2022-07-04  255726    140  15092171
187883  非洲  辛巴威  2022-07-05  255755     29  15092171
187884  非洲  辛巴威  2022-07-06  255805     50  15092171

[187885 rows x 6 columns]

In [5]:
# Japan
df_jp = df1.query('國家=="日本"')
jp_max = int(df_jp['新增確診數'].max())
jp_max
df_jp_query = df_jp.query('新增確診數==@jp_max')
df_jp_query

       洲名  國家          日期     總確診數   新增確診數       總人口數
86369  亞洲  日本  2022-02-03  3019169  104345  126050796

In [6]:
# USA
df_usa = df1.query('國家=="美國"')
usa_max = int(df_usa['新增確診數'].max())
df_usa_query = df_usa.query('新增確診數==@usa_max')
df_usa_query

         洲名  國家          日期      總確診數    新增確診數       總人口數
177979  北美洲  美國  2022-01-10  61801347  1383887  332915074

In [7]:
# Combined
df_jp_usa = pd.concat([df_jp_query, df_usa_query], ignore_index=True)
print(type(df_jp_usa))
df_jp_usa

<class 'pandas.core.frame.DataFrame'>

    洲名  國家          日期      總確診數    新增確診數       總人口數
0   亞洲  日本  2022-02-03   3019169   104345  126050796
1  北美洲  美國  2022-01-10  61801347  1383887  332915074

In [8]:
# Combined
df_jp_usa = pd.concat([df_jp_query, df_usa_query], ignore_index=True)
print(type(df_jp_usa))
df_jp_usa

<class 'pandas.core.frame.DataFrame'>

    洲名  國家          日期      總確診數    新增確診數       總人口數
0   亞洲  日本  2022-02-03   3019169   104345  126050796
1  北美洲  美國  2022-01-10  61801347  1383887  332915074