In [1]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'key1':['a','a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -2.035395 -1.286662
1    a  two  0.976617 -0.291357
2    b  one -0.298604  0.066352
3    b  two  0.445893 -1.342275
4    a  one -1.436305  0.980603

In [2]:
s_gb = df['data1'].groupby(by=df['key1'])
len(s_gb)
s_gb.sum()

key1
a   -2.495084
b    0.147290
Name: data1, dtype: float64

In [3]:
s_gb1 = df['data1'].groupby(by=[df['key1'],df['key2']])
len(s_gb1)
s2d = s_gb1.sum()
s2d.unstack()

key2       one       two
key1
a    -3.471701  0.976617
b    -0.298604  0.445893

In [4]:
#dataframe.droupby()
d_gb=df.groupby(by='key1')
d_gb['data1'].sum()

  key1 key2     data1     data2
0    a  one -2.035395 -1.286662
1    a  two  0.976617 -0.291357
2    b  one -0.298604  0.066352
3    b  two  0.445893 -1.342275
4    a  one -1.436305  0.980603

In [5]:
#Dataframe.groupby()
s2d1 = df.groupby(by=['key1','key2'])['data1'].sum()
s2d1.unstack()

key2       one       two
key1
a    -3.471701  0.976617
b    -0.298604  0.445893