In [1]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
                     columns=list('bde'),
                     index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北  0.713698 -1.418889 -1.272477
台中 -0.620122 -0.808510 -0.900644
台南  0.589777  1.253615  1.967751
高雄 -2.017573 -0.569089 -0.765376

In [2]:
def formap(value):
    return f'{value:.3f}%'
frame.map(formap)

          b        d        e
台北   0.714%  -1.419%  -1.272%
台中  -0.620%  -0.809%  -0.901%
台南   0.590%   1.254%   1.968%
高雄  -2.018%  -0.569%  -0.765%